<!DOCTYPE html>
<html>
<head>
    <title>Pedido Confirmado - Chick & Chips</title>
    <link rel="stylesheet" type="text/css" href="/static/style_cliente.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="header">
        <h1 class="logo">CHICK & CHIPS</h1>
        <p>Calle 21 # 1-43</p>
    </div>
    <div class="container">
        <h2 class="message">¡Pedido Realizado!</h2>
        <p class="message">Gracias {{ name }}, tu pedido ha sido registrado.</p>
        <p class="message">Número de Orden: {{ order_number }}</p>
        <p class="message">Te llegará un mensaje de confirmación.</p>
        <a href="/"><button>Volver a Inicio</button></a>
    </div>
</body>
</html>
