<!DOCTYPE html>
<html>
<head>
    <title>Chick & Chips</title>
    <link rel="stylesheet" type="text/css" href="/static/style_cliente.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="header">
        <h1 class="logo">CHICK & CHIPS</h1>
        <p>Calle 21 # 1-43</p>
    </div>
    <div class="container">
        <a href="/order"><button>HACER PEDIDO</button></a>
        <a href="/schedule"><button>PROGRAMAR PEDIDO</button></a>
    </div>
    <div class="footer">
        <p>&copy; 2025 Chick & Chips</p>
    </div>
</body>
</html>
